.workshopsConteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 3rem 0;
  justify-content: space-between;
}
.workshopsConteiner h1 {
  color: #337a5b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.workshopsWrapper {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.workshop {
  width: 20rem;
  height: 22rem;
}
.workshopImage {
  border-radius: 10px;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  margin: 1rem 0;
}
.workshop h4 {
  margin: 1rem 0;
  height: 3rem;
  font-size: 1rem;
  color: #337a5b;
}
.workshop p {
  font-weight: lighter;
  font-size: 0.8rem;
}
.workshop h5 {
  margin: 1rem 0;
  color: #337a5b;
  font-weight: bold;
}
.workshop h5:hover {
  font-weight: bold;
}

.workshopCalendar {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.workshopCalendar p {
  font-weight: lighter;
  font-size: 0.8rem;
}

.workshopCalendarButton {
  display: flex;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  align-items: center;
}
.workshopCalendarButton:hover {
  color: #337a5b;
}
.workshopCalendarButton:focus {
  display: flex;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  color: white;
  align-items: center;
}
.workshopCalendarImage {
  height: 15px;
  width: auto;
}
.leftWorkshop {
  display: flex;
  align-items: center;
  justify-content: left;
}

.leftWorkshop h5 {
  margin: 0 0 0 0.5rem;
  color: #737373;
  font-weight: lighter;
}
.rightWorkshop {
  display: flex;
  justify-content: right;
  align-items: center;
}
.rightWorkshop h5 {
  margin: 0 0.5rem 0 0;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .workshopsWrapper {
    flex-direction: column;
    align-items: center;
  }
  .workshop {
    width: 100%;
    margin: 1rem 0;
  }
}
