.containerInfo {
  display: flex;
  width: 90%;
  margin: 3rem 0 3rem 0;
  align-items: center;
  justify-content: space-between;
}

.imageInfo {
  width: 50vw;
  object-fit: cover;
}

.divInfo {
  width: 50vw;
  padding: 0 0 0 0;
}

.divInfo :hover {
  background: #337a5b;
  color: white;
  transition: 1s background-color;
}
.wrapperInfo {
  padding: 3rem 6rem 3rem 3rem;
}

.imageIcons {
  width: 7rem;
  margin-right: 0.8rem;
}
