.container {
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

.img {
  margin: 0;
  object-fit: contain;
}

.div_slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: medium;
}

.button_slider {
  color: #f0f0f0;
  font-size: 14px;
  font-style: normal;
  font-family: "Inter", sans-serif;
  border-style: solid;
  padding: 5px 40px 5px 40px;
  background-color: #337a5b;
  border-color: #337a5b;
  border-radius: 5px;
}

.button_download {
  color: #f0f0f0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background: none;
  border-style: solid;
  padding: 5px 40px 5px 40px;
  border-color: #fff;
  border-radius: 5px;
}

/* div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 10s slidy infinite;
} */
