.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; /* ensures full width */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
