.container {
  width: 70%;
  margin: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1 {
  color: #337a5b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.shopImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}
.shopList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.shopItem {
  margin: 0 0 0 1.8rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #337a5b;
  border-radius: 10px;
}
.shopInfo {
  display: flex;
  justify-content: space-around;
}
.shopTitle {
  display: flex;
  flex-direction: column;
}
.shopTitle h4 {
  font-size: large;
  color: #337a5b;
  font-weight: bold;
}
.shopPrice {
  display: flex;
}

.shopButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttoShop {
  color: #f0f0f0;
  cursor: pointer;
  width: 6rem;
  border-style: solid;
  padding: 5px 10px;
  border-color: #fff;
  border-radius: 5px;
  background-color: #337a5b;
  border-color: #337a5b;
}
.buttoShop:hover {
  background-color: #f0f0f0;
  border-color: #337a5b;
  color: #337a5b;
  transition: 1s background-color;
}
