.commentSection {
  padding: 20px;
  text-align: center;
  color: #121212;
}
.commentSection h2 {
  color: #337a5b;
}

.inputField,
.selectRating,
.uploadButton,
.commentButton {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}

.inputField {
  width: calc(100% - 22px); /* Adjust for padding and border */
}

.selectRating {
  cursor: pointer;
}

.uploadButton {
  cursor: pointer;
}

.commentButton {
  background-color: #337a5b;
  color: white;
  border: none;
  cursor: pointer;
}
.commentButton:hover {
  background-color: #fff;
  color: #337a5b;
  transition: 1s background-color;
  border: #337a5b solid 1px;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.comment {
  background: #f8f8f8;
  padding: 20px;
  word-wrap: break-word;
  border-radius: 8px;
  width: 20rem;
  height: auto;
  min-height: 20rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.commentHeader {
  display: flex;
  align-items: center;
  font-weight: lighter;
  margin-bottom: 1.5rem;
  padding-right: 1rem;
}

.comment h5 {
  font-size: 0.5;
  text-align: left;
  margin: 5px 0;
  font-weight: lighter;
}

.commentImage {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #fff;
  object-fit: cover;
  margin-right: 15px;
}

.details {
  margin-top: 20px;
}

.details summary {
  font-weight: bold;
  cursor: pointer;
}
