.container {
  width: 70%;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: medium;
}

.button_slider {
  color: #f0f0f0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-style: solid;
  padding: 5px 40px 5px 40px;
  background-color: #337a5b;
  border-color: #337a5b;
  border-radius: 5px;
}

.button_download {
  color: #f0f0f0;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background: none;
  border-style: solid;
  padding: 5px 40px 5px 40px;
  border-color: #fff;
  border-radius: 5px;
}
.div_pagination {
  position: absolute;
  top: 50%;
  left: 98%;
}
.button_pagination {
  display: flex;
  flex-direction: column;
  color: #f0f0f0;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  background: none;
  border-style: none;
  padding: 0.2rem;
  cursor: pointer;
  text-decoration: underline;
}
.button_index:hover {
  color: #337a5b;
  cursor: pointer;
}
.button_active_pagination {
  color: #337a5b;
  cursor: pointer;
}
