.galleryConteiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 3rem 0;
  justify-content: space-between;
}

.galleryConteiner h1 {
  color: #337a5b;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.gallery {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: center;
}

.largeImage {
  width: 40rem;
  height: 40rem;
}

.smallImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rowImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallImage {
  margin: 10px;
}
