.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 1s ease;
}
.navScrolled {
  background-color: white;
}

.img {
  margin: 10px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .navItem {
    display: none; /* or adjust as needed for small screens */
  }
  .navToggle {
    display: block; /* show your toggle button */
  }
}

.link {
  text-decoration: none;
  color: #f0f0f0;
  padding: 5px 0;
  margin: 0 30px;
  text-decoration: none;
  background: linear-gradient(to top, #fff, #fff) bottom/0 0.1em no-repeat;
  transition: 1s background-size;
}
.link :hover {
  background-size: 100% 0.1em;
  cursor: pointer;
}

.button {
  color: #f0f0f0;
  cursor: pointer;
  width: 10rem;
  font-family: "Inter", sans-serif;
  background: none;
  border-style: solid;
  padding: 5px 10px;
  border-color: #fff;
  border-radius: 5px;
}

.button:hover {
  background-color: #337a5b;
  border-color: #337a5b;
  transition: 2s background-color;
}
